/* COMMON PART START */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
}
/* COMMON PART END */
/* BANNER PART START */
.banner_container{
  padding: 0px 240px;
  padding-top: 50px;
  height: 850px;
  background-color:rgba(229, 84, 115, 0.10);
  display: flex;
  align-items: center; 
  gap:1em; 
}
.banner_text{
  width: 50%;
  padding: 1.875em 0em;
}
.banner_image{
  width: 50%;
}

.banner_text_heading{
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  
}

.banner_text_description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  font-weight: 400;
  padding: 25px 0px;
}
.banner_btn{
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 8px;
  background: #E55473;
  border: none;
}
.banner_btn:hover{
  color: #000;
  background: transparent;
  border: 1px solid #000;
}
.banner_image{
  text-align: center;
}
.banner_image img{
  max-width: 635px;
} 
/* BANNER PART END */
/* BIRTHDAY PART START */
.birthday_title{
  text-align: center;
  margin-top: 50px;
}
.birthday_title_heading{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;

}

.birthday_title_description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  padding-top: 25px;
}

.birthday_container{
  margin-top: 150px;
  padding: 0px 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  gap: 13px;
}
.birthday_item1{
  text-align: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: rgba(71, 125, 17, 0.15);
}
.birthday_item2{
  text-align: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: rgba(5, 151, 160, 0.15);
}
.birthday_item1 img, .birthday_item2 img{
  width: 310px;
}
.btq_name{
  color: #272727;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 15px;
  padding-top: 50px;

}
.btq_price{
  color: #272727;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 30px;

}
.orderNow_btn{
  font-size: 16px;
  font-weight: 700;
  color: #000;
  padding: 10px 30px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.orderNow_btn:hover{
  background-color: #E55473;
  color: #FFF;
  border: none;
}
/* BIRTHDAY PART END */
/* FEATURED PART START */
.featured_title {
  text-align: center;
}
.featured_title_heading{
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-top: 170px;
  
}
.featured_title_description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 50px;

}
.featured_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 240px;
}
.featured_item{
  text-align: center;
  width: 32%;
  height: 430px;
  border-radius: 300px 300px 0px 0px;
}

.item1{  
  background: rgba(167, 33, 98, 0.15);
  padding: 100px 75px 0px 75px;
}

.item2{  
  background: rgba(5, 151, 160, 0.15);
  padding: 100px 75px 0px 75px;  
}
.item3{  
  background: rgba(71, 125, 17, 0.15);
  padding: 100px 75px 0px 75px;
}
.item1 img{
  width: 240px ;
 
}
.item2 img{
  width: 270px ;
 
}
.item3 img{
  width: 220px ;
  
}
.featured_text_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 240px;

}
.featured_text_item{
  text-align: center;
  color: #272727;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-decoration-line: underline;
  padding-top: 30px;

}
/* FEATURED PART END */

/* SUPPORT PART START */
.support_container{
  margin: 125px 240px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.support_container_item{
  text-align: center;
  padding: 85px 0px;
}
.support_container_item_text{
  padding-top: 20px;
}

/* SUPPORT PART END */
/* DEAL PART START */
.deal_container{
  padding: 0px 240px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;

}
.deal_text{
  padding-left: 3.75em;
  text-align: center;
}
.deal_image{
  
  padding: 100px 0px;
  padding-right: 100px;

}
.deal_text_heading{
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.deal_heading_color{
  color: #E55473;
  font-size: 40px;
  font-weight: 800;
}
.deal_text_description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 30px;
}
.signUp_btn{
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  background: #E55473;
  border: none;
  padding: 20px 40px;
}
.signUp_btn:hover{
  color: #000;
  background: transparent;
  border: 1px solid #000;
}
/* DEAL PART END */
/* INSTAGRAM PART START */
.instagram{
  padding: 0px 240px;
  margin-top: 125px;
}
.instagram_title_heading{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.instagram_title_description{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 50px;
}
.instagram_image_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
  
}
.instagram_image_item{
  width: 25%;
}
.instagram_image_item img{
  width: 250px;
}
/* INSTAGRAM PART END */
/* LATEST DEAL PART START */
.latest_deal{
  margin: 125px 240px;
  height: 350px;
  background: url('../flower asset/Rectangle9.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.latest_deal_title{
  text-align: center;
}
.latest_deal_heading{
  padding-top: 75px;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.latest_deal_description{
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 35px;
}
input[type="email"]{
  padding: 14px 0px;
  width: 575px;
  border-radius: 8px;
  background: #FFF;
  border: none;
}
input[type="email"]:focus{
  padding-left: 20px;
  outline: none;
}
input[type="email"]::placeholder{
  color: rgba(39, 39, 39, 0.60);
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
}
.subscribe_btn{
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  background: #E55473;
  padding: 15px 28px;
  border: none;
  margin-left: 15px;
}
.subscribe_btn:hover{
cursor: pointer;
}
/* LATEST DEAL PART END */
/* FOOTER DEAL PART START */
.footer_container{
  background: #111010;
  text-align: center;
  padding: 125px 0px;
}

.footer_title_heading{
  
  color: #FFF;
  font-size: 48px;
  font-weight: 800;

}
.footer_heading_color{
  color: #E55473;
  font-size: 48px;
  font-weight: 800;

}
.footer_title_description{
  color: rgba(255, 255, 255, 0.90);
  font-size: 18px;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 30px;
}
.footer_copyright{
  color: rgba(255, 255, 255, 0.40);
  font-size: 16px;
  font-weight: 400;
}
/* FOOTER DEAL PART END */